.help {
  @extend %section-vertical-paddings;
  padding-bottom: 0;

  &__section-title {
    @extend %section-title;
  }

  &__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  &__card {
    max-width: 175px;
    margin-bottom: var(--section-vertical-paddings);
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }

  &__icon {
    display: inline-block;
    margin-bottom: 27px;
  }

  &__item {
    @extend %font-georgia;
    font-size: 24px;
    color: $grey;
  }

  @media (max-width: 550px) {
    & {
     padding-bottom: var(--section-vertical-paddings-mob);
    }

    &__flex-wrapper {
      flex-direction: column;
    }

    &__card {
      display: flex;
      align-items: center;
      margin: 10px 0;
      max-width: initial;
    }

    &__icon {
      width: 50px;
      height: 50px;
      margin: 0 15px 0 0;
    }
  }
}
