$white: #fff;
$pink: #fddcc4;
$pink-grey: #f1cdb3;
$dark-grey: #292929;
$light-grey: #cdcdcd;
$grey: #4c4c4c;
$brown: #3f322b;
$black: #1b1b1d;
$section-gray: #f6f6f6;
$card-background: #fafafa;

$coordinates: (1: 25%, 2: 50%, 3: 75%);
$transforms: 
  1  45 null, 
  2  45 0, 
  3  -45 null;

  
